@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/* Style for the login page */

.bgimg {
  background: url("/assets/bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.bgimg:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.login {
  background-color: rgb(221, 221, 221);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
  max-width: 370px;
  min-width: 370px;
  padding: 60px 32px;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: -1px 3px 28px 0px rgba (0, 0, 0, 0.75);
  border-radius: 30px;
}
.login header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
}

.field{
    position: relative;
    height: 45px;
    width:100%;
    display:flex;
    background: rgba(255,255,255,0.94);
    border-radius: 20px;
    
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
  }
  .field input , button{
    margin-left: 10px;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
  }
  
  .space {
    margin-top: 15px;
   
  }

.forgot {
    margin-top:10px;
   
  
}
.forgot a{
      font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: white;
}

 
  
  .signup{
      margin-top:10px;
    font-size: 15px;
    color: white;
    font-family: 'Poppins',sans-serif;
  }
  .signup a{
    color: #3498db;
    text-decoration: none;
  }
  .signup a:hover{
    text-decoration: underline;
  }
  
  /* style for home page */
  .hbgimg {
    background: url("/assets/hbg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  
  }
  .hbgimg:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
     
  }

  
  .navbar{
      z-index: 999;
  }
 
  .navbar a{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}